<div class="main-div">
    <mat-card>
        <mat-card-header>
            <mat-card-title style="text-align: center;">
                <h2>Fun with flags</h2>
                <img src="https://s.tcdn.co/3fb/8ef/3fb8efbf-0507-3263-9337-48bd0d73f629/6.png" height=100 width=100>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="userForm" class="example-form">
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input matInput placeholder="Tu ID" formControlName="id" required>
                </mat-form-field> <br />
                <mat-form-field>
                    <mat-label>Edad</mat-label>
                    <input matInput placeholder="Tu edad" formControlName="edad" required>
                </mat-form-field> <br />
                <mat-form-field>
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sexo" required>
                        <mat-option value="Hombre">Hombre</mat-option>
                        <mat-option value="Mujer">Mujer</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <p *ngIf="wrongData">Asegurate de introducir bien toda la información. Gracias</p>
            <button mat-button color="primary" (click)="sendLogin()">Next</button>
        </mat-card-actions>
    </mat-card>
</div>
