
<div class="row">
    <div class="column">
        <h4>Fun with flags</h4>
        <p>Tomate tu tiempo para observar las siguientes banderas y el país al que pertenecen</p>
    </div>
    <div class="column">
        <h4 class="text-right">{{time}}</h4>
    </div>
</div>

<div class="wrapper">
    <div *ngFor="let country of countries; let i = index" class="component">
        <mat-card>
            <mat-card-content>
                <h2>{{ country.pais }}</h2>
                <div style="text-align: center;">
                        <img src="assets/flags/{{country.foto}}" height=120 width=140>
                    </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="text-right">
    <button mat-button color="primary" (click)="next()">Comenzar el quiz</button>
</div>
