.wrapper {
    display: flex;
    flex-wrap: wrap;

    .component {
        width: 30%;
        padding: 1%;
    }

    @media only screen and (max-width: 768px) {
        display: block;
        
        .component {
            width: 100%;
        }
    }
}

.text-right {
    text-align: right;
}

mat-card {
    text-align: center;
    border: solid 1px grey;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;

    .column {
        padding: 2%;
        flex-grow: 1;
    }
}